// General
.comments, input[type=text] {
  width: 300px;
}

.container {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[id=nameInput], input[id=verInput] {
  width: 80px;
}

button {
  vertical-align: center;
  // border: 0;
  display: inline-block;
  background-color: none;
  padding: 0;
}

.inputHighlight, h5 {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.topicHighlight {
  background-color: lightseagreen;
  position: absolute;
  width: 600px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  // box-shadow: 5px 10px;
  --box-shadow-color: gray;
  box-shadow:  0px 3px 8px var(--box-shadow-color);
}

.topicHighlight, h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;

}
.topicHighlight, h2 {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 12px;
  

}

.inputHighlight {
  background-color: rgb(200, 230, 201);
  // margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  // position: absolute;
  width: 550px;
  padding: 0;
  border-radius: 12px;
  --box-shadow-color: lightgray;
  box-shadow: 0px 8px 24px var(--box-shadow-color);
}

.inputHighlight, h5 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

// Main App
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
    // "name name"
    "topics trackers"
    "digests comments"
    "digests comments"
    "digests comments";
  height: 90vh;
}


#topics { 
  grid-area: topics;
  background-color: rgb(228, 238, 245);
  margin: 2px;
}

#trackers {
  grid-area: trackers;
  background-color: rgb(228, 238, 245);
  margin: 2px;
}

#digests {
  grid-area: digests;
  background-color: rgb(232, 245, 233);
  margin: 2px;
}

#comments {
  grid-area: comments;
  background-color: rgb(232, 245, 233);
  margin: 2px;
}

// Comments section

.commentSection {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 3fr 1fr;
  grid-template-areas: 
    "circles circles circles circles circles circles"
    "label topic topic topic topic topic"
    "label res res res res res"
    "label input input input input input";
    // "label res res res res res"
    // "label input input input input input";
  height: 100%;
  width: auto;
}

#circles {
  grid-area: circles;
  // background-color: lightcyan;
  margin: 2px;
}

#topicInput {
  grid-area: topic;
  // background-color: lightcyan;
  margin: 2px;
  display: flex;
  align-items: center;
}


#res {
  grid-area: res;
  margin: 2px;
}

#resInput {
  grid-area: input;
  margin: 2px;
  display: flex;
  align-items: center
}

#label {
  grid-area: label;
  margin: 5px;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
  font-style: italic;
}
#label, #low {
  margin-bottom: 12px;
}
#label, #top {
  margin-top: 7px;
}

// Topics section
.topicsSection {
  display: grid;  
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-template-areas: 
    "title title title title"
    "firstTopic firstTopic firstTopic firstCounter"
    "secondTopic secondCounter"
    "thirdTopic thirdCounter";
    // "label res res res res res"
    // "label input input input input input";
  height: 100%;
  width: auto;
}

.firstCounter {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

#title {
  grid-area: title;
  margin: 2px;
}


#firstTopic {
  grid-area: firstTopic;
  margin: 2px;
}

#secondTopic {
  grid-area: secondTopic;
  margin: 2px;
}

#thirdTopic {
  grid-area: thirdTopic;
  margin: 2px;
}

// .topicsSection, p {}

.firstCounter .secondCounter .thirdCounter {
  text-align: center;
}

#firstCounter {
  grid-area: firstCounter;
  margin: 2px;
}

#secondCounter {
  grid-area: secondCounter;
  margin: 2px;
}

#thirdCounter {
  grid-area: thirdCounter;
  margin: 2px;
}

// Presentation

.prezi {
  // grid-area: name;
  // background-color: lightgray;
  display: flex;
  justify-content: center;
  align-content: center;
  // text-align: center;
  // vertical-align: center;
  margin: 2px;
  margin-top: 40px;
  // display: 
}